<div class="container about">
    <div class="row">
        <div class="col">
            <h2 class="about__title" id="about">О продукте</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8 col-md-8">
            <p class="about__description"><strong>Moon</strong> - решение для организации ручного и автоматизированного тестирования веб-приложений в настольных и мобильных браузерах на основе протокола <a href="https://www.w3.org/TR/webdriver/" title="Selenium WebDriver" target="_blank">Selenium WebDriver</a>, работающее в кластере <a href="https://kubernetes.io/" title="Kubernetes" target="_blank">Kubernetes</a> или <a href="https://www.openshift.com/" title="Openshift" target="_blank">Openshift</a>. Поставляется с набором готовых образов для тестирования в поддерживаемых браузерах и мобильных платформах. Отказоустойчиво и умеет автоматически масштабироваться под текущую нагрузку.</p>
        </div>
        <div class="col-4 col-md-4">
            {{ partial "browsers" . }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <p class="about__description">Основные возможности:</p>
            <ul>
                <li>Возможность параллельного запуска браузеров и автоматического масштабирования кластера в зависимости от поступающего количества запросов</li>
                <li>Поддержка множества пользователей и возможность настройки доступных браузеров для каждого из них</li>
                <li>Запись и сохранение видео работы использованных браузеров</li>
                <li>Доступ к экрану работающего браузера в реальном времени</li>
                <li>Возможность загрузки видео и журналов работы браузеров в удаленное хранилище по протоколу <a href="https://ru.wikipedia.org/wiki/Amazon_S3" title="Amazon S3">Amazon S3</a></li>
                <li>Возможность управления содержимым буфера обмена работающего браузера</li>
                <li>Возможность управления количеством вычислительных ресурсов, выделяемых каждому запускаемому браузеру</li>
            </ul>
        </div>
    </div>
</div>
