<div class="container contact">
    <div class="row">
        <div class="col">
            <h2 id="contact">Стоимость и Контакты</h2>
        </div>
    </div>
    <div class="row contact__content">
        <div class="col-12">
            <div class="row contact__contacts">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Стоимость</h5>
                        </div>
                        <p class="mb-1">Стоимость Moon зависит от числа одновременно используемых браузеров.</p>
                        <p class="mb-1"><strong>До 4 браузеров включительно:</strong> бесплатно.</p>
                        <p class="mb-1"><strong>5 и более браузеров:</strong> от 400 ₽ за параллельно работающий браузер в месяц.</p>
                        <p class="mb-1">Для более подробной информации о ПО "Moon", в том числе по вопросам стоимости ПО «Moon» и приобретения, свяжитесь с нами с использованием адреса электронной почты: <a href="mailto:sales@aerokube.ru" title="sales@aerokube.ru">sales@aerokube.ru</a></p>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">ООО "Аерокуб"</h5>
                        </div>
                        <p class="mb-1"><strong>ИНН / КПП:</strong> 7841079851 / 470501001</p>
                        <p class="mb-1"><strong>ОГРН:</strong> 1187847375473</p>
                        <p class="mb-1"><strong>Адрес:</strong> 188307, Россия, Ленинградская область, Гатчинский район, г. Гатчина, Красноармейский проспект, д. 50, каб. 7</p>
                        <p class="mb-1"><strong>Тел.:</strong> <a href="tel:+78126027195" title="(812) 602-7195">(812) 602-7195</a></p>
                        <p class="mb-1"><strong>E-mail:</strong> <a href="mailto:sales@aerokube.ru" title="sales@aerokube.ru">sales@aerokube.ru</a></p>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Техническая поддержка</h5>
                        </div>
                        <p class="mb-1"><strong>E-mail:</strong> <a href="mailto:support@aerokube.ru" title="support@aerokube.ru">support@aerokube.ru</a></p>
                        <p class="mb-1"><strong>Telegram:</strong> <a href="https://t.me/aerokube_moon" title="@aerokube_moon">@aerokube_moon</a></p>
                        <p class="mb-1"><strong>Тел.:</strong> <a href="tel:+78126027195" title="(812) 602-7195">(812) 602-7195</a></p>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Социальные сети</h5>
                        </div>
                        <p class="mb-1"><strong>Twitter:</strong> <a href="https://twitter.com/aerokube" title="@aerokube" target="_blank">@aerokube</a></p>
                        <p class="mb-1"><strong>Facebook:</strong> <a href="https://www.facebook.com/aerokube" title="aerokube" target="_blank">fb.com/aerokube</a></p>
                        <p class="mb-1"><strong>Github:</strong> <a href="https://github.com/aerokube" title="aerokube" target="_blank">github.com/aerokube</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
