<div class="container docs">
    <div class="row">
        <div class="col">
            <h2 id="docs">Документация</h2>
        </div>
    </div>
    <div class="row docs__content">
        <div class="col-12">
            <div class="row docs__docs">
                {{ range .Site.Data.meta.docs }}
                <div class="col-12 col-md-4 mb-4">
                    <div class="docs__doc">
                        <a href="{{ .url }}"><h3 class="docs__doc-title">{{ .title }}</h3></a>
                        <p class="docs__doc-description">
                            {{ .description }}
                        </p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
