<form class="feedback" id="license-form">
    <div>
        <label for="feedback-email" class="feedback__title">
            Получите бесплатный пробный<br />ключ на 1 месяц
        </label>
        <div class="feedback__input-container">
            <input id="feedback-email" name="email" type="email" class="input input_feedback" placeholder="Ваш e-mail">
            <input type="submit" class="button button_feedback g-recaptcha" data-sitekey="6Lf9rrQUAAAAAKEqzSGM7jXYvAlQzyT8wwQX6foW" data-callback="onSubmit" value="Получить">
        </div>
    </div>
</form>
